@import "./colors.scss", "fonts.scss", "flex.scss";
@import "./generic-design.scss", "./general-classes.scss";
@import "./keyframes.scss";

header{
    background-color: $brown1;
    padding:1rem;

    .name{
        font-size:2.2rem;
        text-align:center;

        .initial{
            font-size:3.5rem;
        }
    }

    .title{
        text-align: center;
        letter-spacing: .25rem;
        font-size:.8rem;
        padding-left:1rem;
        line-height: 0rem;
        padding-bottom:1rem;
    }
}

nav{
    background-color: $brown2;
    font-family: $thin-spaced;
    text-transform: uppercase;
    justify-content: space-between;
    padding: .1rem;

    .links a{
        font-size:.8rem;
        padding-left:3rem;
    }

    .socials{
        display: flex;
        padding-right: 1.5rem;
        a{
            font-size: 1rem;
            vertical-align: middle;
            color:black;
            padding-right:1.5rem;
            display: flex;
            align-items: center;
        }

    }
}

.section-intro{
    background-color: $brown3;
    max-height:60vh;

    .left{
        padding:2rem;
        padding-left:3rem;
        min-width: 18rem;
        padding-right:8rem;
        
        .handwriting-font{
            color: $brown4;
        }

        .body-tag{
            padding-left: 1.2rem;
        }

        .title{
            font-size: 1.8rem;
        }
    }

    .right{
        background-color: $green1;
        padding-left:6rem;
        
        img{
            max-height:60vh;
        }
    }
}

.section-quote{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $brown1;
}