$handwriting: 'Brittany Signature' ,Brush Script MT, Brush Script Std, cursive;

$xbold-spaced: 'Arima Madurai Extra Bold', 'Times New Roman', Times, serif;
$thin-spaced: 'Arima Madurai Thin', 'Times New Roman', Times, serif;
$light-spaced: 'Arima Madurai Light', 'Times New Roman', Times, serif;


$regular: 'Bentham', 'Times New Roman', Times, serif;

@font-face {
    font-family: 'Bentham';
    src: url("../fonts/Bentham-Regular.ttf");
}

@font-face{
    font-family: 'Brittany Signature';
    src: url("../fonts/BrittanySignature-MaZx.ttf");
}

@font-face{
    font-family: 'Arima Madurai Thin';
    src: url("../fonts/ArimaMadurai-Thin.ttf");
}

@font-face{
    font-family: 'Arima Madurai Light';
    src: url("../fonts/ArimaMadurai-Light.ttf");
}

@font-face{
    font-family: 'Arima Madurai Extra Bold';
    src: url("../fonts/ArimaMadurai-ExtraBold.ttf");
}
