
.special-word-effect{
    transition: all .5s;
}

.special-word-effect:hover{
    color: white;
    animation: word-dance .5s;
    transition: all .5s;
}

.special-letter-effect{
    transition: all .5s;
}

.special-letter-effect:hover{
    color: black;
    animation: letter-dance .5s;
    transition: all .5s;
}

.height-60{
    height:60vh;
    max-height:60vh;
    min-height: 60vh;
}

.padd-left-10{
    padding-left: 2.5rem;
}

.handwriting-font{
    font-family: $handwriting;
}

.thin-spaced-font{
    font-family: $thin-spaced;
}

.regular-font{
    font-family: $regular;
}

.fixed{
    position: fixed;
}

.sticky{
    position: sticky
}

.special-hover-effect{
    opacity: 0;
    z-index:-22;
    border-radius: 100px;
    cursor: default;
    width:2rem;
    height:2rem;
    transition: all 3.5s ease;
}

.special-hover-effect:hover{
    opacity: 1;
    width:1.5rem;
    transition: all .4s ease;
}
