@keyframes letter-dance {
    0%{
        color: white;
    }
    25%{
        color: black;
        position: relative;
        bottom: .2rem;
    }
    100%{
        bottom: 0rem;
    }    
}

@keyframes word-dance{
    0%{
        color: black;
    }
    25%{
        color: white;
        position: relative;
        bottom: .2rem;
    }
    100%{
        bottom: 0rem;
    }
}
